<div class="stage">
  <div class="cell">


    <div class="searchbar">

      <input type="text" class="btn-extended" placeholder="search" />

      <div class="btn-search"></div>

    </div><!-- .searchbar -->



  </div><!-- .cell -->
</div><!-- .stage -->
