<p class='topics'><%= current_user.topics.first.name %></p>
  <% current_user.topics.each do |h| %>
  <% h.hashtags.each do |ht, count| %>
  <div>
    <%= ht.name.capitalize %>
  </div>
  <% end %>
<% end %>

  <!-- <p class='hashtags'><%# current_user.topics do %></p> -->
