<%= render 'navbar' %>

<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>My Dashboard</h1>
                <p class='topics'>
                  <%= select_tag 'topic', options_from_collection_for_select(current_user.topics, 'id', 'name', @topic.id), id: "topic_search" %>
                </p>
                  <% @topic.hashtags.each do |ht| %>
                  <div>
                    <%= ht.name.capitalize %>
                  </div>
                  <% end %>
            </div>
        </div>
    </div>
</section>
