/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


h1 {
  color: white;
}

input {
  color: white;
}

.circles.col-md-3 h4 {
color: white;
}

// ----------- Navbar: Titles ---------- //

.nav.navbar-nav {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}

//-------------Intro Section: Text ---------//




// ---------- Footer: Titles ---------- //
.row h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
}

// ----------- Footer: Who We Are -------//
.col-md-3.col-sm-4.col-xs-6 h4 {
  font-size: 20px;
}

.col-md-3.col-sm-4.col-xs-6 p {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}

// ------------Footer: Links ----------//

.col-md-offset-1.col-sm-2.col-xs-6 h4 {
  font-size: 20px;
}

.col-md-offset-1.col-sm-2.col-xs-6 li {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}



// ------------Footer: Stay in Touch --------------- //

.col-sm-2.col-xs-6 h4 {
  font-size: 20px;
}

.col-sm-2.col-xs-6 li {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}

// ------------- Hover Action for Links ----------- //
a:hover {
  text-decoration: none;
}

a:hover, a:active {
  font-size: 115%;
}

.dashboardtitle a:hover, a:active {
  font-size: 100%;
}

// -------------Footer: Contact Us -------------- //

.col-md-3.col-md-offset-1.col-sm-4.col-xs-6 li {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}
