// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessionstat {
  margin-top: 4mm;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}
#dashintro {
    height: auto;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
}
#hashintro {
    height: 100%;
    overflow: auto;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
  }
.dropdown {
  font-size: 18px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.80);
  border: solid lightgrey 1px;
}
.dropdown:hover {
 -moz-box-shadow:    0 0 7px grey;
 -webkit-box-shadow: 0 0 7px grey;
 box-shadow: 0 0 4px #ccc;}

.dropdown-content {
  margin-top: 2em;
  margin-bottom:1.5em;
}
.dropdownitem {
  margin-bottom: .75em;
  font-size: 20px
}
select#topic_search {
  background-color: #fff;
  width: 35%;
  height: 35px;
  border-style: outset;
}

li .dropdown {
  padding-bottom: 5em;
}
input#q {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    // background: rgba(0,0,0,0.3);
    color: black;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.card.card-block {
  margin-bottom: 1.5em;
  border: solid lightgrey 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.80);
}
.card.card-block:hover {
-moz-box-shadow:    0 0 7px grey;
-webkit-box-shadow: 0 0 7px grey;
box-shadow: 0 0 4px #ccc;
}

ul {
  list-style-type: none;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
}

.dashboard.col-lg-12 {
  border: none;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5em;
  box-shadow: 0 0 2px white;
}
.dashboardnav{
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 10px;
}

#hashtag_search.btn {

  display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.dashboardtitle {
  color: black;
  font-size: 25px;
  border-radius: 10px;
  border: solid lightgrey 1.25px;
  padding-top: 15px;
}
.dashboardtitle:hover {
  border: solid lightgrey 1px;
  -moz-box-shadow:    0 0 7px grey;
  -webkit-box-shadow: 0 0 7px grey;
  box-shadow: 0 0 4px #ccc;
}
.dashboardtitle img {
  width: 20%;
}
h1 a img {
  margin-bottom: .45em;
}
h1.dashboardtitle {
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
}
.btn-success {
  border-radius: 10px;
  border-style: none;
  border: none;
  height: 45px;
  width: 75px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
}
.btn.btn-success.submit_button {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: lighter;
  font-size: 22px;
}
button.new_topic_button.btn.btn-success {
  padding-left: 7px;
  margin-right: 0px;
  width: 90px;
}
.modal-footer {
  text-align: center;
}
