// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessionstat {
  margin-top: 4mm;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 17px;
}

#dashintro {
    height: auto;
    padding-top: 75px;
    text-align: center;
    background: linear-gradient(47deg, #3b81a1, #344fbf);
    background-size: 400% 400%;
    background: linear-gradient(320deg, #37677d, #505883, #8bbbad);
    background-size: 600% 600%;

    background: linear-gradient(131deg, #565d79, #704d4d, #675d78, #486087, #88d7d1, #9dd2b4);
    background-size: 1200% 1200%;

    -webkit-animation: TagSnooper 59s ease infinite;
    -moz-animation: TagSnooper 59s ease infinite;
    animation: TagSnooper 59s ease infinite;

    @-webkit-keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @-moz-keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }

    // background: #fff;
   //  background-image: url("https://s15.postimg.org/8zu2ogdgb/MRld_Sx.jpg");
   // background-color: #c6e2e9;
  //  background: #4CA1AF; /* fallback for old browsers */
  //  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  //  background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#hashintro {
    height: 100%;
    overflow: auto;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient(47deg, #3b81a1, #344fbf);
    background-size: 400% 400%;
    background: linear-gradient(320deg, #37677d, #505883, #8bbbad);
    background-size: 600% 600%;

    background: linear-gradient(131deg, #565d79, #704d4d, #675d78, #486087, #88d7d1, #9dd2b4);
    background-size: 1200% 1200%;

    -webkit-animation: TagSnooper 59s ease infinite;
    -moz-animation: TagSnooper 59s ease infinite;
    animation: TagSnooper 59s ease infinite;

    @-webkit-keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @-moz-keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
  }



.dropdown {
  font-size: 18px;
  // background:rgba(255,255,255,0.5);
  border-radius: 10px;
  // border: 1px solid white;
  // background-color: white;
  background-color: rgba(255, 255, 255, 0.80);
  border-style: outset;
}

.dropdown-content {
  margin-top: 2em;
  margin-bottom:1.5em;
}

.dropdownitem {
  margin-bottom: .75em;
  font-size: 20px
}

select#topic_search {
  width: 50%;
}

li .dropdown {
  padding-bottom: 5em;
}

input#q {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    // background: rgba(0,0,0,0.3);
    color: black;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
//
// // input#q:focus{
// //     width: 100%;
// // }
// //
.card.card-block {
  // border:1px solid white;
  border-radius: 10px;
  // background-color: white;
  background-color: rgba(255, 255, 255, 0.80);
  margin-bottom: 2em;
  border-style: outset;
  // background:rgba(255,255,255,0.5);
}
//
// select#topic_search {
//     margin: 50px;
//     border: 1px solid #111;
//     background: transparent;
//     width: 160px;
//     padding: 5px 35px 5px 5px;
//     font-size: 16px;
//     /* border: 1px solid #ccc; */
//     height: 34px;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     background: url('https://cdn0.iconfinder.com/data/icons/fast-forward/64/up-down-512.png') 96% / 15% no-repeat #fff;
// }

ul {
  list-style-type: none;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
}

.dashboard.col-lg-12 {
  border: none;
  border-radius: 10px;
  // background:rgba(255,255,255,0.5);
  // background: rgba(0,0,0,0.3);
  background-color: white;
  margin-bottom: 5em;
  border-style: inset;

}

.dashboardnav{
  // background-color: white;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 10px;
}

.dashboardtitle {
  color: black;
  font-size: 25px;
  border-radius: 10px;
  border-style: outset;
}

.dashboardtitle img {
  width: 20%;
}

h1 a img {
  margin-bottom: .45em;
}

h1.dashboardtitle {
  font-size: 32px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: lighter;
}
