// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessionstat {
  margin-top: 4mm;
}

input#q {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input#q:focus{
    width: 100%;
}

.card.card-block {
  border:1px solid white;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 5em;
}

select#topic_search {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    width: 160px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('https://cdn0.iconfinder.com/data/icons/fast-forward/64/up-down-512.png') 96% / 15% no-repeat #fff;
}
