.bg-img {
  background-size: cover;
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top left, rgba(10, 71, 102, 0.97) 40%, rgba(57, 128, 128, .6) 80%) repeat scroll 0 0;
  // background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top left, rgba(0, 131, 187, 0.95) 45%, rgba(41, 191, 137, .3) 80%) repeat scroll 0 0;
	opacity: 1;
  }
}
