$grey-1   : #333;
$blue-1   : #00D7D8;
$purple-1 : #9261DF;
$purple-2 : #6434A2;

.hashtags {
  text-align: center;
}

.search-bar {
  text-align: center;
  margin-top: 40mm;

}

#intro {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #085078 , #85D8CE);
  background: linear-gradient(to left, #085078 , #85D8CE);
}

#intro {
  padding-top: 5em;
}

.intro-section {
  padding-top: 5em;
}

input#q {
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input#q:focus{
    width: 100%;


.searchbar{
  position: relative;

  &.clicked{

    .btn-search{
      border-radius: 0 40px 40px 0;
      margin-left: 115px;
    }
    .btn-extended{
      margin-left: -185px;
      width: 300px;
      padding: 20px 30px;
      opacity: 1;
      border-radius: 40px 0 0 40px;
    }
  }

  .btn-search{
    position: absolute;
    background-color: $blue-1;
    color: white;
    width : 70px; height: 70px;
    left: 50%; margin-left: -35px;
    top: 50%;  margin-top:  -35px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:before{
      position: absolute;
      content:'';
      display: block;
      top: 24px; left: 24px;
      width: 15px; height: 15px;
      border-radius: 20px;
      box-shadow: 0px 0px 0px 3px #fff;
    }

      &:after{
        content: "";
        position: absolute;
        width: 15px; height: 4px;
        top: 42px; left: 37px;
        background-color: #5899B9;
        transform: rotateZ(45deg);
        border-radius: 3px;
      }


  }

  .btn-extended{
    position: absolute;
    width: 0px; height: 70px;
    left: 50%;  margin-left: 35px;
    top: 50%;   margin-top:  -35px;
    border-radius: 40px;
    padding: 0;
    font-size: 16px;
    border: none;
    opacity: 0;
    transition: all 0.4s ease-in-out;


    &:focus{
      outline-width: 0px;
    }
  }

}


.credit {
  position: absolute;
  bottom: 0;
  background-color: #5899B9;
  padding: 5px 20px;
}

select#topic_search {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    width: 160px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('https://cdn0.iconfinder.com/data/icons/fast-forward/64/up-down-512.png') 96% / 15% no-repeat #eee;
}


}
