.hashtags {
  text-align: center;
  color: black;
}

.search-bar {
  text-align: center;
}

input#hashtag_search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input#hashtag_search:focus {
    width: auto;
}

form.navbar-form.navbar-left.search-form {
    float: none !important;
}

.submit_button {
  width: 15rem;
}

.dashboard.col-lg-12 {
    padding-bottom: 2em;
    padding-top: 1em;
}

input#hashtag_search {
    height: 34px;
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    color: #555;
    -moz-box-shadow:    inset 0 0 7px #ccc;
    -webkit-box-shadow: inset 0 0 7px #ccc;
    box-shadow:         inset 0 0 7px #ccc;
}

.topic_search {
    background-color: #fff;
    width: 19%;
    height: 35px;
    border-style: outset;
    margin-bottom: 40px;
}
