body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.headline {
  margin-top: -5em;
}


/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */
.navbar-brand {
  padding-top:0px !important;
  padding-bottom:0px !important;
}

.navbar.navbar-default.navbar-fixed-top {
  height: 50px !important;
  padding: 0 !important;
  background-color: white;
}

.access {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  // font-family:'Open Sans',Arial,Helvetica Neue,sans-serif;
  // width: 100%;
  // font-size: 25px;
  // text-transform: uppercase;
  // line-height: 0.8;
  // letter-spacing: 3px;
  font-weight: lighter;
}

h1.access {
  margin-left: 1.5em;
}

h3.access {
  color: black;
}

div.col-md-6 {
  margin-left: -12em;
}

.access.col-md-5 {
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 11em;
  margin-left: 6em;
  margin-bottom: 2em;
  margin-top: 3em;
  height: inherit;
  width: inherit;
}

.access button {
  margin-bottom: 1em;
  border-radius: 5px;
  border: none;
  background-color: #5899B9;
  height: 50px;
  width: 75px;
  color: white;
}

strong {
  color: black;
}

.works {
  padding-bottom: 8em;
}

.icons {
  padding-bottom: 3em;
}

.how {
 color: black;
 font-family: 'Source Sans Pro', sans-serif;
}

 .desc {
  list-style-type: none;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}

.fa.fa-search {
  font-size: 60px;
}

.fa.fa-list {
  font-size: 60px;
}

.fa.fa-archive {
  font-size: 60px;
}

#intro {
    height: auto;
    padding-top: 150px;
    text-align: center;
   background: #4CA1AF; /* fallback for old browsers */
   background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#landingintro {
    height: 100%;
    padding-top: 150px;
    text-align: center;
}



#about {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-color: #fff;
}

.about.col-lg-12 {
}

.about {
  font-family: 'Source Sans Pro', sans-serif;
}


#services {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient(131deg, #565d79, #704d4d, #675d78, #486087, #88d7d1, #9dd2b4);
    background-size: 1200% 1200%;

    background: linear-gradient(131deg, #675d78, #486087, #88d7d1, #9dd2b4);
    background-size: 800% 800%;

    -webkit-animation: TagSnooper 59s ease infinite;
    -moz-animation: TagSnooper 59s ease infinite;
    animation: TagSnooper 59s ease infinite;

    @-webkit-keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @-moz-keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
    }
    @keyframes TagSnooper {
        0%{background-position:52% 0%}
        50%{background-position:49% 100%}
        100%{background-position:52% 0%}
      }
    // background: #4CA1AF; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }


.circles.col-md-3 {
  float: left;
  list-style-type: none;
  margin-top: 5em;
}

.circles.col-md-3.nik {
  margin-top: 49px;
}

li img {
  height: 200px;
  width: 200px;
}


// -------- Login & Signup Button ONLY --------//

@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$button-bg-color: #348AA7;
$button-border-color: #166E84;

body{
  font-family: Montserrat;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




// ---------footer ---------- //

footer {

    background-color: white;
}

ul a {
  color: #5899B9;
}

// --------- misc --------- //



// -----------Intro Section: Background Transparent Color --------//
.intro-section.bg-img {
  width: 100%;
  height: 100%;
  background: url('https://s14.postimg.org/hs7trakvl/Tag_Snooper_503817356.jpg') center center no-repeat;
  background-size: cover;

  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#4CA1AF,#4CA1AF);
	opacity: .4;
  }
}
