// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

img {
 width: 40%;
}

.login h1 {
font-family: 'Source Sans Pro', sans-serif;
color: black;
font-weight: lighter;
font-size: 30px;
}
